.container {
  width: 980px;
  margin: 0 auto;
}
.btn-menu {
  display: none;
}
.main-menu-wrapper ul {
  display: flex;
}



.canvas-container {
  width: 500px;
  height: 500px;
}
.canvas-editor {
  width: 90%;
  height: 90%;
}
.form-container {
  width: 400px;
}

.main-wrapper {
  flex-direction: column;
  justify-content: center;
}

.editor-wrapper {
  flex-direction: row;
}

.images-wrapper img {
  width: 2rem;
}
