.container {
    width: 600px;
    margin: 0 auto;
  }
  .btn-menu {
    display: none;
  }
  .editor-container{
    margin-top: .2rem;
  }
  .main-menu-wrapper ul{
    display: flex;
}
.canvas-container {
    width: 500px;
    height: 500px;
  }
  #my-canvas{
    width: 500px;
    height: 500px;  
  }
  .form-container{
    width: 500px;
  }
  .main-wrapper{
    flex-direction: column;
    align-items: center;
  }